/* Site Globals */

* {
	margin: 0;
	padding: 0;
}

html {
	min-width: 320px;
}

body {
    background: @body-bg-color;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	&.noTransitions {
		* {
			transition: none !important;
		}
	}
}

a {
	color: @section-link-color;
	text-decoration: underline;
}

/* Site Headings */

h1 {
	border-bottom: 1px solid @primary-border-color;
    color: @section-heading-color;
	margin-bottom: 32px;
	padding-bottom: 12px;
	font-family: league-gothic, sans-serif;
    font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

h2 {
    color: @section-heading-color;
    font-size: 24px;
    font-weight: 400;
    span {
        font-weight: 700;
        text-transform: uppercase;
    }
}

h3 {
    font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

h4 {
    color: @section-heading-color;
    font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}

@media (min-width:@bp-md) {
    
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 36px;
    }
	
	h4 {
		font-size: 18px;
	}
    
}

@media (min-width:@bp-lg) {
    
    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 46px;
    }

    h3 {
        font-size: 46px;
    }
    
}

/* Site Content Container */

div.content {
    max-width:1380px;
    margin: 0 auto;
    position: relative;
    &:before, &:after {
     content: ' ';
     display: table;
    }
    &:after {
        clear: both;
    }
}

body:not(.home) {
	section.site {
		div.content {
			display: table;
			width: 100%;
		}
	}
}

/* Site Section Wrapper */

section.site {
    background: @section-bg-color;
    color: @section-font-color;
}

body:not(.home) {
	section.site {
		padding: 48px;
	}
}

/* Site Buttons */

section.site {
    a[data-icon]:not(.phone) {
        .button;
        &:after {
            .icon-after
        }
    }
}

@media (min-width:@bp-md) {
    
    section.site {
        a[data-icon]:not(.phone) {
            height: 60px;
            line-height: 60px;
            padding: 0 24px;
            font-size: 20px;
        }
    }
    
}

/* IE Message */

p.ieMsg {
    color: @white;
    margin: 0 auto;
    padding: 48px;
    line-height: 24px;
    text-align: center;
    a {
        color: @primary-color-lighten;
    }
}