/* Font Awesome 4.2.0 */

@font-face {
  font-family: 'Font Awesome';
  src: url('/assets/fonts/font-awesome-4.2.0/fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('/assets/fonts/font-awesome-4.2.0/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),
       url('/assets/fonts/font-awesome-4.2.0/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'),
       url('/assets/fonts/font-awesome-4.2.0/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'),
       url('/assets/fonts/font-awesome-4.2.0/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}