/* Packages Section */

section.packages {
    text-align: center;
    div {
        &.content {
            padding: 40px 48px 42px;
        }
        &.caption {
            p {
                font-size: 18px;
                line-height: 27px;
                margin: 10px 0 41px;
            }
        }
        &.disclaimer {
            p {
                font-size: 16px;
                line-height: 24px;
                margin-top: 42px;
            }
        }
    }
    a[data-icon] {
        box-shadow: inset 0 0 0 2px @white;
        margin: 0 auto;
    }
}

div.package {
    margin: 0 -24px;
    padding: 40px 0;
    &:before {
        content: attr(data-icon);
        display: block;
        height: 100px;
        margin: 0 auto 16px;
        font-family: 'Font Awesome';
        overflow: hidden;
    }
    h3 {
        color: @white;
    }
    p {
		color: @section-heading-color;
        padding: 11px 40px 18px;
        font-size: 16px;
        line-height: 24px;
    }
    &.basic {
        background: @tertiary-color;
        border-radius: 5px 5px 0 0;
        &:before {
            color: @tertiary-icon-color;
            line-height: 102px;
            font-size: 115px;
        }
        a[data-icon] {
            &:after {
                color: @tertiary-icon-color;
            }
        }
    }
    &.standard {
        background: @secondary-color;
        &:before {
            color: @secondary-icon-color;
            line-height: 95px;
            font-size: 106px;
        }
        a[data-icon] {
            &:after {
                color: @secondary-icon-color;
            }
        }
    }
    &.deluxe {
        background: @quaternary-color;
        border-radius: 0 0 5px 5px;
        &:before {
            color: @quaternary-icon-color;
            line-height: 103px;
            font-size: 99px;
        }
        a[data-icon] {
            &:after {
                color: @quaternary-icon-color;
            }
        }
    }
}

@media (min-width:@bp-sm) {
    
    div.package {
        margin: 0;
    }
    
}

@media (min-width:@bp-md) {

    section.packages {
        div {
            &.content {
                padding: 49px 48px 54px;
            }
            &.caption {
                p {
                    margin: 22px auto 53px;
                    width: 75%;
                }
            }
            &.disclaimer {
                p {
                    margin-top: 52px;
                }
            }
        }
    }
    
    div.package {
        width: 33.33333333333333%;
        display:table-cell;
        padding: 60px 0;
        vertical-align: top;
        &:before {
            height: 150px;
            margin-bottom: 29px;
        }
        p {
            padding: 23px 40px 34px;
        }
        &.basic {
            border-radius: 5px 0 0 5px;
            &:before {
                line-height: 154px;
                font-size: 173px;
            }
        }
        &.standard {
            &:before {
                line-height: 143px;
                font-size: 160px;
            }
        }
        &.deluxe {
            border-radius: 0 5px 5px 0;
            &:before {
                line-height: 154px;
                font-size: 148px;
            }
        }
    }
    
}

@media (min-width:@bp-lg) {

    section.packages {
        div {
            &.content {
                padding-top: 45px;
            }
        }
    }
    
    div.package {
        &:before {
            margin-bottom: 25px;
        }
        p {
            padding-top: 21px;
        }
    }
    
}

@media (min-width:@bp-xl) {

    section.packages {
        div {
            &.caption {
                p {
                    width: 50%;
                }
            }
        }
    }
    
}