/* Intro Section */

section.intro {
    background: darken(@primary-color, 10%);
    background-image: linear-gradient(@primary-color-darken, @primary-color-lighten);
    color: @white;
    div {
        &.content {
            padding: 40px 0 48px;
            text-align: center;
        }
        &.caption {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 48px;
        }
    }
    h2 {
		color: @white;
        span {
            color: @tertiary-color;
        }
    }
    p {
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
        margin:10px 0 17px;
    }
    a[data-icon] {
        background: @primary-color-darken;
        margin: 0 auto;
        &:after {
            color: @primary-icon-color;
        }
    }
}

@media (min-width:@bp-md) {
    
    section.intro {
        div {
            &.content {
                background: url(/assets/img/home/sas_emblem.png) 100% 50% no-repeat;
                max-width: 1096px;
                padding: 147px 0 160px;
                text-align: left;
            }
            &.caption {
                width: 60%;
            }
        }
        h2 {
            white-space: nowrap;
        }
        p {
            font-size: 24px;
            line-height: 36px;
            margin:20px 0 42px;
        }
        a[data-icon] {
            margin: 0;
        }
    }
    
}

@media (min-width:@bp-md) and (max-width:856px) {
    
    section.intro {
        div {
            &.content {
                background-size: contain;
                margin-right: 5px; // margin fix for resized background image
                padding: 110px 0 120px;
            }
        }
    }
    
}

@media (min-width:@bp-lg) {
    
    section.intro {
        p {
            font-size: 30px;
            line-height: 45px;
            margin:16px 0 50px;
        }
    }
    
}