/* Bookkeeping Section */

section.bookkeeping {
    background: @light-gray;
    background-image: linear-gradient(@white, @light-gray);
    text-align: center;
    div {
        &.content {
            padding: 40px 0 48px;
        }
        &.caption {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 48px;
        }
    }
    h2 {
        color: @primary-color;
        span {
            color: @secondary-color;
        }
    }
    p {
        font-size: 18px;
        line-height: 27px;
        margin:10px 0 17px;
    }
    a[data-icon] {
        background: @med-gray;
        margin: 0 auto;
        &:after {
            color: @light-gray;
        }
    }
}

@media (min-width:@bp-md) {
    
    section.bookkeeping {
        div {
            &.content {
                background: url(/assets/img/home/thinking-woman.png) 48px 0 no-repeat;
                max-width: 1096px;
                padding: 108px 0 120px;
            }
            &.caption {
                padding-left:408px;
            }
        }
        p {
            margin:18px 0 29px;
        }
    }
    
}

@media (min-width:900px) {
    
    section.bookkeeping {
        p {
            padding: 0 48px;
        }
    }
    
}

@media (min-width:851px) and (max-width:920px) {
    
    section.bookkeeping {
        h2 {
            padding: 0 48px;
        }
    }
    
}

@media (min-width:@bp-lg) {
    
    section.bookkeeping {
        div {
            &.content {
                padding: 145px 0 160px;
            }
        }
        p {
            line-height: 36px;
            margin:15px 0 29px;
        }
    }
    
}