/* Page Columns */

[class*="page_"] {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
	
aside.page_sidebar {
	background: @light-gray;
	color: @sidebar-font-color;
	padding: 50px 40px;
    h4 {
        border-bottom: 1px solid @primary-border-color;
        color: @sidebar-heading-color;
        margin-bottom: 30px;
        padding-bottom: 19px;
    }
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		&.quickbooks {
			margin-bottom: 44px;
		}
	}
}

@media (max-width:@bp-xs-max) {
	
	aside.page_sidebar {
		margin: 39px -48px -48px;
	}
	
}

@media (max-width:@bp-sm-max) {
	
	aside.page_sidebar {
		margin-top: 39px;
	}
	
}

@media (min-width:@bp-md) {
	
	[class*="page_"] {
		display: table-cell;
		vertical-align: top;
	}
	
	div.page_content {
		padding-right: 48px;
	}
	
	aside.page_sidebar {
		width: 300px;
		padding: 50px 40px;
	}
	
}

@media (min-width:@bp-lg) {
	
	aside.page_sidebar {
		width: 360px;
	}
	
}

/* Page Breadcrumbs */

p.breadcrumbs {
	color: @primary-color;
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 0.8;
	text-transform: uppercase;
}

/* Page Content */

div.page_content {
	h2 {
		margin-top: 15px;
		font-size: 21px;
		font-weight: 700;
	}
	p:not(.breadcrumbs) {
		margin-top: 14px;
		font-size: 16px;
		line-height: 30px;
	}
    h4 {
        margin-top: 26px;
        + ul {
            margin: 20px 0 0 18px;
        }
    }
}

@media (min-width:@bp-lg) {
	
	div.page_content {
		h2 {
			font-size: 24px
		}
		p:not(.breadcrumbs) {
			font-size: 18px;
		}
	}
	
}

/* Services Icons */

div.service {
    h2 {
        span {
            text-transform: uppercase;
        }
    }
    &:before {
        border-radius: 4px;
        content: attr(data-icon);
        color: @white;
        display: block;
        height: 120px;
        line-height: 120px;
        margin: 21px 0 23px;
        font-family: "Font Awesome";
        font-size: 72px;
        text-align: center;
    }
    &.basic {
        &:before {
            background: @tertiary-color;
        }
    }
    &.standard {
        &:before {
            background: @secondary-color;
        }
    }
    &.deluxe {
        &:before {
            background: @quaternary-color;
        }
    }
    &.info {
        &:before {
            background: @primary-color-lighten;
        }
    }
}

@media (min-width:@bp-sm) {
    
    div.service {
        &:before {
            width: 120px;
            margin: 8px 24px 0 0;
            float: left;
        }
    }
    
}

/* Contact Form */

input, textarea {
	border: 1px solid @primary-border-color;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 38px;
	margin-top: 24px;
	padding: 0 11px;
	font-size: 16px;
    transition: background 500ms;
	-webkit-appearance: none;
    &:focus {
        background: @form-focus-bg-color;
        outline: none;
    }
}

textarea {
	height: 198px;
	padding: 10px 12px;
	resize: none;
}

button[type="submit"] {
	background: @primary-color-darken;
	border: none;
	.button;
	margin-top: 30px;
	&:after {
		color: @primary-color-lighten;
		.icon-after;
	}
}

@media (min-width:@bp-md) {
	
	div.page_content {
		input[type="text"], textarea {
			width: 50%;
            min-width: 307px;
		}
	}
	
}

/* Heidi Davis */

figure[itemtype*="Person"] {
	figcaption {
		margin: 24px 0 38px;
		line-height: 1.5;
		text-transform: uppercase;
	}
	a {
		color: inherit;
		text-decoration: none;
	}
}

/* Testimonials */

blockquote.testimonial {
    p {
        &.quote {
            &:before {
                content: '" ';
            }
            &:after {
                content: ' "';
            }
        }
        &.author {
            font-weight: 600;
        }
    }
}

body.contact {
    blockquote.testimonial {
        margin-top: -5px;
        font-size: 14px;
        line-height: 21px;
        &:nth-child(n+2) {
            border-top: 1px solid @primary-border-color;
            margin-top: 25px;
            padding-top: 25px;
        }
        p {
            &.quote {
                height: 40px;
                overflow: hidden;
                &.expanded {
                    height: auto;
                }
            }
            &.author {
                margin-top: 22px;
            }
        }
        a.show {
            display: table;
            margin-top: 6px;
        }
    }
}

body.about {
    div.testimonials {
        margin-top: 23px;
    }
    /*blockquote.testimonial {
        p {
            &.author {
                line-height: 24px;
                font-size: 14px;
                font-weight: 700;
            }
        }
    }*/
}

@media (min-width:@bp-lg) {
    
    body.about {
        div.testimonials {
            margin-top: 9px;
        }
        blockquote.testimonial {
            -mox-box-sizing: border-box;
            box-sizing: border-box;
            width: 50%;
            float: left;
            &:nth-child(odd) {
                padding-right: 20px;
            }
            &:nth-child(even) {
                padding-left: 20px;
            }
            &:nth-child(2n+3) {
                clear: left;
            }
        }
    }
    
}