/* Site Menu */

ul.menu {
    li {
        list-style: none;
		text-transform: uppercase;
    }
	a {
		text-decoration: none;
	}
}

@media (max-width:@bp-sm-max) {
	
	ul.menu {
		li {
			font-size: 14px;
			font-weight: 400;
		}
	}
	
}

@media (min-width:@bp-md) {
	
	ul.menu {
		li {
			display: inline-block;
			font-family: league-gothic, sans-serif;
			font-size: 18px;
			font-weight: 400;
			letter-spacing: 1px;
			&:nth-child(n+2) {
				&:before {
					background: @tertiary-color;
					border-radius: 2px;
					content: '';
					display: inline-block;
					width: 4px;
					height: 4px;
					position: relative;
					top: -6px;
				}
			}
			&:nth-child(odd) {
				&:before {
					background: @secondary-color;
				}
			}
			a {
				margin:0 12px;
			}
		}
	}
	
}

@media (min-width:@bp-xl) {
	
	ul.menu {
		li {
			font-size: 20px;
			a {
				margin:0 18px;
			}
		}
	}
	
}

/* Footer Menu */

nav.ftr_menu {
	ul.menu {
		li {
			&:before {
				background:@primary-color;
			}
			&:first-child {
				a {
					margin-left:0;
				}
			}
			&:last-child {
				a {
					margin-right:0;
				}
			}
		}
	}
}