/* Site Header */

header.site {
    background: @header-bg-color;
    color: @header-font-color;
    padding: 12px;
    text-transform: uppercase;
    a {
        color: @header-link-color;
        text-decoration: none;
    }
}

a.hdr_logo {
    display: table;
    width: 150px;
    margin: 0 auto;
    img {
        display: block;
    }
}

span.tagline, span.tagline + br {
	display: none;
}

header.site {
	a.phone {
		font-size: 16px;
	}
}

@media (max-width:@bp-sm-max) {
	
	nav.hdr_menu {
		ul {
			background: @dark-gray;
			height: 0;
			transition: height 500ms;
			margin:12px -12px -12px -12px;
			padding: 0 12px;
			overflow: hidden;
			li {
				&:first-child {
					margin-top: 20px;
				}
				&:nth-child(n+2) {
					margin-top: 12px;
				}
				&:last-child {
					margin-bottom: 20px;
				}
			}
			a {
				color: lighten(@med-gray, 35%);
			}
		}
	}
	
	a.menu, header.site a.phone {
		width: 60px;
		height: 40px;
		position: absolute;
		top: 8px;
		overflow: hidden;
		&:before {
			content: attr(data-icon);
			display: block;
			width: 60px;
			height: 40px;
			line-height: 40px;
			font-family: 'Font Awesome';
			text-align: center;
			speak: none;
		}
	}
	
	a.menu {
		border-left: 1px solid lighten(@primary-color, 30%);
		right: -12px;
		&:before {
			font-size: 24px;
		}
		&.on + ul {
			height: 183px;
		}
	}
	
	header.site {
		a.phone {
			border-right: 1px solid lighten(@primary-color, 30%);
			left: -12px;
			&:before {
				font-size: 36px;
			}
		}
	}
	
}

@media (min-width:@bp-md) {
	
	header.site {
		padding:12px 24px;
	}

    body.home {
        header.site {
            border-bottom:2px solid @header-border-color;
        }
    }
    
    a.hdr_logo {
        display: inline-block;
        width:194px;
        vertical-align: middle;
    }
    
    nav.hdr_menu {
        display: inline-block;
		margin-left: 20px;
		position: relative;
        vertical-align: middle;
		z-index: 100;
		li {
			line-height: 72px;
            &.active {
                position:relative;
                &:after {
                    border-right:10px solid transparent;
                    border-bottom:10px solid @white;
                    border-left:10px solid transparent;
                    content:'';
                    margin-left:-9px;
                    position:absolute;
                    bottom:-12px;
                    left:50%;
                }
            }
		}
    }
	
	a.menu {
		display: none;
	}
    
    div.hdr_info {
		width: 40%;
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        text-align: right;
        &:before {
            content: ' ';
            display: inline-block;
            height: 100%;
            margin-right: -0.25em;
            vertical-align: middle;
        }
        p {
            display: inline-block;
			max-width: 98%;
            vertical-align: middle;
        }
    }
	
	header.site {
		a.phone {
			&:before {
				color:lighten(@header-bg-color, 40%);
				.icon-before;
			}
		}
	}
    
}

@media (min-width:@bp-lg) {
	
	span.tagline {
		display: block;
        margin-bottom: 11px;
		font-size: 14px;
		font-weight: 300;
	}
	
	header.site {
		a.phone {
			font-size: 18px;
		}
	}
    
}

@media (min-width:@bp-xl) {
    
    a.hdr_logo {
        width:264px;
    }
    
    nav.hdr_menu {
		margin-left: 38px;
        li {
			line-height: 98px;
            &.active {
                position:relative;
                &:after {
                    border-right-width:14px;
                    border-bottom-width:14px;
                    border-left-width:14px;
                    margin-left:-13px;
                }
            }
        }
    }
    
}