footer.site {
    background: @footer-bg-color;
    color: @footer-font-color;
    padding: 44px 24px;
    white-space: nowrap;
}

div.ftr_info {
    font-size: 12px;
    p {
        &:nth-child(2) {
            color: lighten(@med-gray, 10%);
            margin-top: 10px;
        }
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    &:before {
        background: url(/assets/img/site/footer_emblem.svg) no-repeat;
        content: ' ';
        width: 80px;
        height: 98px;
    }
}

@media (max-width:@bp-sm-max) {
    
    nav.ftr_menu {
        display: none;
    }
    
    div.ftr_info {
        text-align: center;
        &:before {
            display: block;
            margin: 0 auto 26px;
        }
    }
    
}

@media (min-width:@bp-md) {
    
    [class*="ftr_"] {
        display: inline-block;
        width: 50%;
        margin-right: -0.25em;
        vertical-align: middle;
    }
    
    div.ftr_info {
        &:before {
            display: inline-block;
            margin-right: 26px;
            vertical-align: middle;
        }
    }
    
    div.copyright {
        display: inline-block;
        vertical-align: middle;
    }
    
    nav.ftr_menu {
        text-align: right;
        a {
            color: @white;
        }
    }
    
}

@media (max-width:900px) {
    
    div.ftr_info {
        span.reserved {
            display: block;
            line-height: 2;
        }
        p {
            &:nth-child(2) {
                margin-top: 6px;
            }
        }
    }
    
}

@media (min-width:@bp-lg) {
    
    div.ftr_info {
        font-size: 14px;
    }
    
}