/* Site Palette */

@black: #000;
@white: #fff;

@light-gray: #ececec;
@med-gray: #4e4e4e;
@dark-gray: #202020;

@primary-color: #2a7022;
@primary-color-darken: #245d1d;
@primary-color-lighten: #4f9e37;

@secondary-color: #fc4500;
@tertiary-color: #fec400;
@quaternary-color: #00bad8;

@primary-icon-color: #a1dc8e;
@secondary-icon-color: #ffa100;
@tertiary-icon-color: #fff200;
@quaternary-icon-color: #00ffff;

@body-bg-color: lighten(@black, 10%);

@primary-border-color: #d6d6d6;

@form-focus-bg-color: #fff0bf;

@header-bg-color: @primary-color;
@header-border-color: @white;
@header-font-color: @white;
@header-link-color: @header-font-color;
@header-icon-color: @primary-icon-color;

@section-bg-color: @white;
@section-font-color: lighten(@black, 21.176470588235293%);
@section-heading-color: lighten(@black, 12.549019607843137%);
@section-link-color: @primary-color;

@sidebar-font-color: lighten(@med-gray, 20%);
@sidebar-heading-color: @sidebar-font-color;

@footer-bg-color: @dark-gray;
@footer-font-color:@white;
@footer-link-color:@footer-font-color;

/* Site Breakpoints */

@bp-xs: 320px;
@bp-sm: 480px;
@bp-md: 768px;
@bp-lg: 1080px;
@bp-xl: 1280px;

@bp-xs-max: (@bp-sm - 1);
@bp-sm-max: (@bp-md - 1);
@bp-md-max: (@bp-lg - 1);
@bp-lg-max: (@bp-xl - 1);

/* Mixins */

.icon-before {
    content: attr(data-icon);
    display: inline-block;
    font-family: 'Font Awesome';
    font-size: 1.5em;
    margin: -0.125em 10px 0 0;
    vertical-align: middle;
    speak: none;
}

.icon-after {
    content: attr(data-icon);
    display: inline-block;
    font-family: 'Font Awesome';
    font-size: 1.125em;
    margin: -0.0625em 0 0 10px;
    vertical-align: middle;
    speak: none;
}

.button {
    border-radius: 4px;
    color: @white;
    display: table;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}